.feedback-card {
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  padding: 30px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}

.header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 20px;
}

.feedback-card .fa-solid {
  font-size: 40px;
  color: #050B20; /* Icon color */
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #050B20;
}

.feedback {
  font-size: 15px;
  color: #050B20;
  line-height: 1.5;
  margin-bottom: 20px;
  height: 150px;
  overflow: auto;
  text-align: justify;
}

.feedback-popup {
  font-size: 14px;
  color: #050B20;
  line-height: 1.5;
  margin-top: 10px;
  height: min-content;
  overflow: auto;
  text-align: justify;
}

.user-info {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.user-details {
  display: flex;
  align-items: center; 
}

.user-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  color: #050B20;
}

.popup {
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
}

.dish-rating {
  font-size: 32px;
  color: #ccc;
  display: flex;
  gap: 4px; 
}

.star-container {
  position: relative;
  display: inline-block;
}

.star-empty {
  color: #ccc; 
}

.star-filled {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #D68240;
  white-space: nowrap;
}