<div class="dish-card">
    <!-- Dish Image -->
    <img [src]="imageUrl" alt="Dish Image" class="dish-image" />
  
    <!-- Double Circles with Icon -->
    <div class="icon-container">
      <div class="outer-circle">
        <div class="inner-circle">
          <i class="fa-solid {{ typeIconClass }} type-icon"></i>
        </div>
      </div>
    </div>
  
    <!-- Dish Type and Name -->
    <div class="dish-info">
      <p class="dish-type">Type: {{ type }}</p>
      <h3 class="dish-name">{{ name }}</h3>
    </div>
  
    <!-- Action Buttons -->
    <div class="action-buttons">
      <button class="icon-button" (click)="onModify()">
        <i class="fa-solid fa-pen" ></i>
      </button>
      <button class="icon-button" (click)="onDelete()">
        <i class="fa-solid fa-trash" ></i>
      </button>
    </div>
  </div>