.Login {
  display: flex;
  height: 100vh; /* Full viewport height */
  justify-content: space-between;
  align-items: center;
  font-family: "Sora", sans-serif;
  overflow: hidden; /* Prevent scrolling */
}

form {
  width: 100%;
}

.left {
  width: 50%;
  padding: 40px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow:auto;
}

.left h1 {
  font-size: 2.5rem;
  color: #d68240;
  margin-bottom: 10px;
  text-align: left; /* Align text to the left */
}

.left p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 30px;
  text-align: left; /* Align text to the left */
}

.Title {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.left label {
  font-size: 0.9rem;
  color: #666;
  margin: 10px 0 5px;
  display: block;
  text-align: left; /* Align text to the left */
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 1rem;
}

.left .checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.left input[type="checkbox"] {
  margin-right: 10px;
}

.left button {
  background-color: #d68240;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
}

.left button:disabled {
  background-color: #d68240; /* Couleur de fond plus claire */
  color: #e0e0e0; /* Couleur du texte plus claire */
  cursor: not-allowed; /* Curseur "non autorisé" */
  opacity: 0.7; /* Réduire l'opacité pour indiquer qu'il est désactivé */
}

.left button:hover {
  background-color: #a76330;
}

.right {
  width: 50%;
  height: 100vh; /* Full viewport height */
  background: linear-gradient(90deg, #121a1d, #1f2d30);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Fix the right section */
  right: 0; /* Align to the right */
  top: 0; /* Align to the top */
}

.right img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.error {
  color: red;
  margin-bottom: 20px;
}

.form-group.error input.form-control {
  border: 1px solid red;
}

.custom-alert {
  background-color: #ffebee; /* Fond rouge clair */
  color: #c62828; /* Texte rouge foncé */
  padding: 12px 20px; /* Espacement intérieur */
  border-radius: 4px; /* Coins arrondis */
  border: 1px solid #ffebee; /* Bordure rouge clair */
  font-size: 0.9rem; /* Taille de police */
  display: flex;
  align-items: center;
  gap: 10px; /* Espace entre l'icône et le texte */
  margin-top: 10px; /* Marge en haut */
  width: 100%;
}

.custom-alert.error {
  background-color: #ffcdd2; /* Fond rouge plus vif pour les erreurs */
  color: #d32f2f; /* Texte rouge plus foncé */
  border-color: #ffcdd2; /* Bordure rouge */
  width: 100%;
}