.home {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}
.title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 1.5rem;
    color: #000;
}
.dish-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 1rem;
}